<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>作用域插槽的使用</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        <cpn></cpn>     <!--子组件可以获取到数据-->

        <cpn>
            <!--<ul>
                <li v-for="book in books">{{book}}</li>     父组件无法获取子组件中的数据
            </ul>-->

            <template slot-scope="slot">    <!--通过slot-scope设置的自定义名称引用子组件的插槽-->
                <span v-for="book in slot.data">{{book}}-</span>
            </template>
        </cpn>

        <cpn>
            <template slot-scope="slot">    <!--通过slot-scope设置的自定义名称引用子组件的插槽-->
                <span>{{slot.data.join("--")}}</span>        <!--join()数组中的元素用括号中指定的符号连接-->
            </template>
        </cpn>
    </div>
</div>

<template id="cpn">
    <div>
        <slot :data="books">        <!--通过自定义标签":xxx"指向子组件中的数据-->
            <ul>
                <li v-for="book in books">{{book}}</li>
            </ul>
        </slot>
    </div>
</template>

<script>

    const cpn = {
        template:'#cpn',
        data(){
            return{
                books:['西游记','三国','水浒','红楼梦']
            }
        }
    }

    const app = new Vue({
        el: '#app',
        data: {
            message: 'hello Vue'
        },
        components:{
            cpn
        }
    })

</script>
</body>
</html>