<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for遍历数组和对象</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <ul>
        <!--index是下标，只能放在括号的第二位-->
        <li v-for="(number,index) in numbers" :key="number">{{index+1}}-{{number}}</li>
        <hr>
        <!--遍历对象的值-->
        <li v-for="u in user">{{u}}</li>
        <hr>
        <!--遍历对象的键和值 value必须排在第一位 key在第二位-->
        <li v-for="(value,key,index) in user">{{index+1}}.{{key}}-{{value}}</li>
    </ul>
</div>

<script>

    const app = new Vue({
        el: '#app',
        data: {
            numbers:[1,2,3,4,5],
            user:{
                id:1,
                name:'tom',
                age:11
            }
        }
    })

</script>

</body>
</html>