<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model配合checkbox</title>
    <script src="../../js/vue.js"></script>
</head>
<body>
<div id="app">
    <!--单个checkbox-->
    <label for="aggreement">      <!--label的作用是点击checkbox或radio的文字也可以选中-->
        <input type="checkbox" id="aggreement" v-model="isAggree"> 同意协议并继续
    </label>
    <button :disabled="!isAggree">下一步</button>      <!--选中checkbox后才能点击该按钮-->
    <h2>{{isAggree}}</h2>

    <!--多个checkbox-->
    <input type="checkbox" value="1" v-model="hobbies"> 唱
    <input type="checkbox" value="2" v-model="hobbies"> 跳
    <input type="checkbox" value="3" v-model="hobbies"> rap
    <input type="checkbox" value="4" v-model="hobbies"> 篮球
    <h2>{{hobbies}}</h2>
</div>

<script>

    const app = new Vue({
        el: '#app',
        data: {
            isAggree: false,    //单选
            hobbies: []         //多选获取多个value只能用数组
        }
    })

</script>
</body>
</html>